@import "../../variables.scss";

.PaymentRequests-Container {
  display: flex;

  .PaymentRequests-Container_Heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    .PaymentRequests-Container_Header {
      display: flex;
      align-items: baseline;

      & h3 {
        font-weight: normal;
      }

      & span {
        margin-left: 10px;
        color: $subtext;
      }
    }
  }

  .PaymentRequest_Table-Container {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      .NoPaymentsYet {
        margin-top: 40px;
      }
    }
  }
}
